.navbar {
	.navbarCollapsed {
		position: absolute;
		display: flex;
		background-color: lightskyblue;
		border-radius: 5px;
		padding: 5px;
	}

	.main {
		position: absolute;
		background-color: lightskyblue;
		border-radius: 5px;
		padding: 0px 15px 15px 15px;
		display: flex;
	}
}

// Arrows
// .arrow {
// 	border: solid black;
// 	border-width: 0 4px 4px 0;
// 	display: inline-block;
// 	padding: 4px;

// 	.right {
// 		transform: rotate(-90deg);
// 		-webkit-transform: rotate(-90deg);
// 	}

// 	.left {
// 		transform: rotate(90deg);
// 		-webkit-transform: rotate(90deg);
// 	}

// 	.up {
// 		transform: rotate(-135deg);
// 		-webkit-transform: rotate(-135deg);
// 	}

// 	.down {
// 		transform: rotate(45deg);
// 		-webkit-transform: rotate(45deg);
// 	}
// }

.right {
	// Right rotation
	$rr: -45deg;
	transform: rotate($rr);
	-webkit-transform: rotate($rr);

	.arrow {
		border: solid black;
		border-width: 0 4px 4px 0;
		display: inline-block;
		padding: 4px;
	}
}

.left {
	// Left rotation
	$lr: 135deg;
	transform: rotate($lr);
	-webkit-transform: rotate($lr);

	.arrow {
		border: solid black;
		border-width: 0 4px 4px 0;
		display: inline-block;
		padding: 4px;
	}
}

.right:hover {
	cursor: pointer;
}

.left:hover {
	cursor: pointer;
}
