.buttons {
	display: flex;
	justify-content: space-evenly;
}

.information {
	margin: 5px;
	
	.status {
		display: flex;
		justify-content: flex-start;

		.text {
			margin: 2px 10px 0px 0px;
		}
	}
}
